* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: #0f0d13;
  --dark-purple: #2a2141;
  --white: #e1e1e6;
  --light-grey: #c4c4cc;
  --light-white: #d9d9d9;
}

body {
  background: var(--background-color);
}

body * {
  font-family: 'Roboto', sans-serif;
}
